html {
    margin:0px;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 45%;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
    font-size: 35px;
}

ul {
    margin: 0px;
}

body {
    background-color: #cff0da;
    font-family: Helvetica, sans-serif;
    margin:0px;
    font-size: 1.5vw;
    font-size: 1.5vh;
}
body > header {
   background-color: #88dba3; 
   color: white;
   display: flex;
   height: 10vh;
   align-items: center;
   justify-content: space-around;

}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color: #3B4E32;
    text-decoration: none;
    padding: 12px;
    font-weight: bold;
    border: 1.5px solid #3B4E32;
    border-radius: 10%;
}

body > main article {
    width: 80%;
    margin: auto;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: #88dba3;
    display: flex;
    color: #3B4E32;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div >li {
    margin-left: 16px;
    
}

#footer-ul > div > li > a {
    color: #3B4E32;
    text-decoration: none;
}

#footer_3 > img {
    margin-bottom: 30px;
    margin-top: 30px;
}

#footer_2 > img {
    margin-bottom: 30px;
    margin-top: 30px;
}

#footer_1 > img {
    margin-bottom: 30px;
    margin-top: 30px;
}


#footer_final > h2 {
    font-family: "Fredoka One", sans-serif;
    width: 25%;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
    font-size: 20px;
    color: white;
}


img {
    border-radius: 70%;
}

#header_3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#header_3 > h3 {
    position: relative;
    display: inline-block; 
    margin-top: 30px; 
    padding-bottom: 5px;
}
#header_3 > h3::after {
    content: ""; 
    display: block;
    width: 100%; 
    height: 1.5px; 
    background: #000; 
    position: absolute;
    left: 0;
    bottom: 0;

}

#header_2 {
    margin-top: 50px;
}

#header_2 > h3 {
        position: relative;
        display: inline-block; 
        margin-top: 30px; 
        padding-bottom: 5px;
    }
#header_2 > h3::after {
        content: ""; 
        display: block;
        width: 100%; 
        height: 1.5px; 
        background: #000; 
        position: absolute;
        left: 0;
        bottom: 0;

}


#header_1 {
    margin-top: 30px;
}

#header_1 > h3 {
    position: relative;
    display: inline-block; 
    margin-top: 30px; 
    padding-bottom: 5px;
}

#header_1 > h3::after {
    content: ""; 
    display: block;
    width: 100%; 
    height: 1.5px; 
    background: #000; 
    position: absolute;
    left: 0;
    bottom: 0;

#seafood {
    margin-bottom: 20px;
}

#footer_3 > a {
    margin-top: 50px;
}